<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesthouse Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
    <nav class="">
        <ul>
            <li><a href="{{ url_for('hospitality_staff_dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.check_in') }}">Check In</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.check_out') }}">Check Out</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.travel_requests') }}">Travel Request</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.maintenance_request_view') }}">Maintenance Request</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.booking') }}">Reservations</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.billing') }}">Billing</a></li>
            <li><a href="{{ url_for('hospitality_staff_dashboard.feedback') }}">Feedback</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
            <h1>Landed on hospitality_staff dashboard!</h1>
            
            <h2>Occupied Rooms</h2>
            
            <div style="overflow: auto; max-height: 400px; display: flex; justify-content: center;">    
                <table>
                    <thead style="position: sticky; top: 0; background-color: white;">
                        <tr>
                            <th>Room Number</th>
                            <th>Guest ID</th>
                            <th>Guest's First Name</th>
                            <th>Guest's Last Name</th>
                            <th>Phone no</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guest in currentguest %}
                            <tr>
                                <td>{{ guest.room_no }}</td>
                                <td>{{ guest.guest_id }}</td>
                                <td>{{ guest.first_name }}</td>
                                <td>{{ guest.last_name }}</td>
                                <td>{{ guest.phone_no }}</td>
                                <td>{{ guest.email_id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <h2>Assigned Open Maintenance Requests</h2>
            <div style="overflow: auto; max-height: 400px; display: flex; justify-content: center;">    
                <table>
                    <thead style="position: sticky; top: 0; background-color: white;">
                        <tr>
                            <th>Request ID</th>
                            <th>Description</th>
                            <th>Date when created</th>
                            <th>Housekeeping Staff ID</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in assign_open_main_requests %}
                            <tr>
                                <td>{{ request.request_id }}</td>
                                <td>{{ request.description }}</td>
                                <td>{{ request.date_created }}</td>
                                <td>{{ request.housekeeping_staff_id }}</td>
                                <td>{{ request.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endblock %}

    </main>
    <script src="{{ url_for('static', filename='../static/scripts.js') }}"></script>
</body>
</html>


