<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesthouse Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
    <nav class="">
        <ul>
            <li><a href="{{ url_for('iitgn_member_dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('iitgn_member_dashboard.new_booking') }}">Make a Reservation</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
           
        <h1>Your Reservations</h1>

            <div style="overflow: auto;">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>People</th>
                        <th>Check-in Date</th>
                        <th>Check-out Date</th>
                        <th>Room Type</th>
                        <th>Special Room Required</th>
                        <th>Comments</th>
                    </tr>
                        
                    {% for member_reservation in member_reservations %}
                    <tr style="text-align: center;">
                        <td>{{ member_reservation.reservation_id }}</td>
                        <td>{{ member_reservation.number_of_people }}</td>
                        <td>{{ member_reservation.check_in_date }}</td>
                        <td>{{ member_reservation.check_out_date }}</td>
                        <td>{{ member_reservation.room_type }}</td>
                        <td>{{ member_reservation.specially_enabled_room_required }}</td>
                        <td>{{ member_reservation.comments }}</td>
                    </tr>
                    {% endfor %}

                </table>
                
            </div>

        {% endblock %}

    </main>
    <script src="{{ url_for('static', filename='../static/scripts.js') }}"></script>
</body>
</html>


