<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesthouse Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated  and current_user.role == "hospitality_staff" %}
                {% include 'hospitality_staff_dashboard.html' %} 
            {% elif current_user.is_authenticated  and current_user.role == "iitgn_member" %}
                {% include 'iitgn_member_dashboard.html' %}
            {% elif current_user.is_authenticated  and current_user.role == "current_guest" %}
                {% include 'current_guest_dashboard.html' %}
            {% elif current_user.is_authenticated  and current_user.role == "housekeeping_staff" %}
                {% include 'housekeeping_staff_dashboard.html' %}
            {% elif current_user.is_authenticated  and current_user.role == "driver" %}
                {% include 'driver_dashboard.html' %}
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
            <h1>Welcome to the Guesthouse Management System</h1>
            <p>Please login or register to access the system.</p>
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='../static/scripts.js') }}"></script>
</body>
</html>

