{% extends 'iitgn_member_dashboard.html' %}

{% block content %}

<h1>Make a Reservation</h1>

<script>
    function toggleReservationForm() {
        var form = document.getElementById("reservationForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
<div>
    <button onclick="toggleReservationForm()">Make a Reservation</button>
</div>

<div id="reservationForm" style="display: none;">

    <form method="POST" action="{{ url_for('iitgn_member_dashboard.new_booking') }}">
        {{ form.csrf_token }}
        {{ form.iitgn_id.label }}{{ form.iitgn_id }}
        {{ form.email_id.label }} {{ form.email_id }}
        {{ form.number_of_people.label }} {{ form.number_of_people }}
        {{ form.check_in_date.label }} {{ form.check_in_date }}
        {{ form.check_out_date.label }} {{ form.check_out_date }}
        {{ form.room_type.label }} {{ form.room_type }}
        {{ form.specially_enabled_room_required.label }} {{ form.specially_enabled_room_required }}
        {{ form.comments.label }} {{ form.comments }}
        {{ form.submit }}
    </form>
{% endblock %}
